<head>

</head>
<body>
    
    <div class="nav_logo">
        <img src="./../../../assets/images/pokelogo.png" />        
    </div>
    
    <div class="full_content">
    <div class="centering_boxes">
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>
        <div class="beside_box">
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
            <app-componente2
            [whiteInput]="color_white"
            [blueInput]="color_blue"
            [redInput]="color_red"
            [yellowInput]="color_yellow"
            [greenInput]="color_green"
            [limpiarInput]="limpiar_pizarra">
            </app-componente2>
        </div>

    </div>
    <div class="tools">
        <div class="circle" (click)="whiteSelected()"></div>
        <div class="circle blue" (click)="blueSelected()"></div>
        <div class="circle red" (click)="redSelected()"></div>
        <div class="circle yellow" (click)="yellowSelected()"></div>
        <div class="circle green" (click)="greenSelected()"></div>
        <img src="./../../../assets/images/pokedraw.png" alt="Oficina onclick" class="logo__image-onclick" />
        <button class="button" (click)="limpiarPizarra()">Limpiar</button>
    </div>
</div>

</body>

