.beside_box {
    display: flex;
}

.full_content {
  display: flex;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
}

.nav_logo{
  text-align: center;
}
 
.circle {
    height: 50px;
    width: 50px;
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }
  
.circle:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.blue {
    background-color: #78C9A4;
  }
.red {
    background-color: #B9252E;
  }
.yellow {
    background-color: #126E70;
  }
.green {
    background-color: #528F22;
  }

  .button {
    background-color: #fafafa;
    border: none;
    color: rgb(27, 5, 5);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.tools{
  display: block;
}

.imagen1 {
  width: 25%;
  height: auto;
}

.pokecontent{
  padding-top: 8px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 8px;
}

.colormatcard2{
  background-color: #0078d4;
}

.colormatcard3{
  background-color: #cdcecd;
}