.color_white {
  background-color: white;
  height: 30px;
  width: 30px;
}

.color_white:hover {
  background-color: rgba(255, 255, 255, 0.719);
}

.color_blue {
  background-color: #78C9A4;
  height: 30px;
  width: 30px;
}

.color_blue:hover {
  background-color: #78c9a4a2;
}

.color_red {
  background-color: #B9252E;
  height: 30px;
  width: 30px;
}

.color_red:hover {
  background-color: rgba(255, 0, 0, 0.39)
}

.color_yellow {
  background-color: #126E70;
  height: 30px;
  width: 30px;
}

.color_yellow:hover {
  background-color: #126e709a;
}

.color_green {
  background-color: #528F22;
  height: 30px;
  width: 30px;
}

.color_green:hover {
  background-color: #518f22a8;
}