.contactbar {
    background-color: #24292f;
    height: 50px;
    text-align: center;
    display: flex;
    color: white;
    justify-content:space-between;
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
	overflow: hidden;
}

.rightcontact {
    display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
}

.leftcontact {
    display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
}
.content_contact{
    overflow-x: auto;
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
}

.icon {
    padding-left: 10px;
    padding-right: 10px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.main_window {
    display: flex;
    background-color: rgb(226, 223, 223);
}
.sidebar_content {
    background-color: #c93636;
    height: 535px;
    width: 200px;
}

.content{
    background-color: rgb(226, 223, 223);
    height: 535px;
    width: 100%;
    margin-left: 15px;
}

a {
	text-decoration: none;
}

nav {
	background: #fff;
	height: 40px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;

}

nav a {
	flex: 1;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	transition: .2s ease-in-out all;
	font-weight: 500;
}

nav a:hover {
	background: #f0f0f0;
}

