<div class="scroll navigation">
<nav>
<ul class="menu"> 
    <li>
       
        <div [ngClass]="level1 ? 'menu-item-clicked' : 'menu-item' " (click)="level1Click()">
            Dibuja a Baulbasour
        </div>
        
    </li>
    <li>
       
        <div [ngClass]="level2 ? 'menu-item-clicked' : 'menu-item'" (click)="level2Click()">
            Toma de hora medica
        </div>
        
    </li>
    <li>
        <div [ngClass]="level1 ? 'menu-item-clicked' : 'menu-item' " (click)="level1Click()">
            Level 1
        </div>
    </li>
    <li>
        <div [ngClass]="level2 ? 'menu-item-clicked' : 'menu-item'" (click)="level2Click()">
            Level 2
        </div>
    </li>
    <li>
        <div [ngClass]="level1 ? 'menu-item-clicked' : 'menu-item' " (click)="level1Click()">
            Level 1
        </div>
    </li>
    <li>
        <div [ngClass]="level2 ? 'menu-item-clicked' : 'menu-item'" (click)="level2Click()">
            Level 2
        </div>
    </li>
    <li>
        <div [ngClass]="level1 ? 'menu-item-clicked' : 'menu-item' " (click)="level1Click()">
            Level 1
        </div>
    </li>
</ul>
</nav>
</div>