<div class="cardcontent">
    <mat-card>
    
      <h1>Ingresa o busca el libro que te guste!</h1>
    
      <mat-card class="matcard1">
        <h2>Ingresa un libro</h2>
        <div class="div1">
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="div1-width" appearance="fill">
            <mat-label>Nombre del Libro</mat-label>
            <input [(ngModel)]="nombreLibro" matInput required minlength="1">
          </mat-form-field></td>
          <td><mat-form-field class="div2-width" appearance="fill">
            <mat-label>Autor del libro</mat-label>
            <input [(ngModel)]="nombreAutor" matInput required minlength="1">
          </mat-form-field></td>
          <td>
            <mat-form-field class="div3-width" appearance="fill">
              <mat-label>Numero de paginas</mat-label>
              <input [(ngModel)]="numPage" matInput required minlength="1" type="number">
            </mat-form-field>
          </td>
        </tr></table>
        </div>
    
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select [(ngModel)]="category" required >
            <mat-option value="Literatura">Literatura</mat-option>
            <mat-option value="Novela">Novela</mat-option>
            <mat-option value="Historia">Historia</mat-option>
            <mat-option value="Ciencia Ficcion">Ciencia Ficcion</mat-option>
            <mat-option value="Terror">Terror</mat-option>
            <mat-option value="Crecimiento personal">Crecimiento personal</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Resena</mat-label>
          <textarea [(ngModel)]="reviewLibro" matInput required minlength="1" placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    
        <div class="div-button">
          <div class="div-content-button">
            <button mat-button color="primary" (click)="guardarLibro()">Guardar</button>
          </div>
          <div class="div-content-button">
            <button mat-button color="primary">Limpiar</button>
          </div>
        </div>
    
    
      </mat-card>
      <br>
      <mat-card class="matcard1">
        <div *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!loading">
          <h2>Libros ingresados</h2>
    
      
      
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource2" matSort>
          
              <!-- Nombre Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Libro </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="bookName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Libro </th>
                <td mat-cell *matCellDef="let row"> {{row.bookName}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
                <td mat-cell *matCellDef="let row"> {{row.author}} </td>
              </ng-container>
          
    
        
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
        </div>

    
    </mat-card>
    
    </mat-card>
    </div>