.menu {
    list-style-type: none;
    padding-left: 3px;
}
.menu-item {
    background-color: #f9f9f9;
    border: none;
    height: 90px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-right-style: solid;
    border-color: #f9f9f9;
}

.menu-item-clicked {
    background-color: #eeecec;
    border: none;
    height: 90px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-right-style: solid;
    border-color: #0078d4;
}

.menu-item:hover{
    background-color: #eeecec;
    border-right-style: solid;
    border-color: #eeecec;
}

.scroll{
    background-color: #f9f9f9;
    width: 155px;
    height: 600px;
    overflow: auto;
}

.navigation{
    position: sticky;
    top: 3em;
    z-index: 100;

}