.matacordionwidth{
 width: 900px;
 border-bottom: solid;
 border-color:  #eeecec;
 color: white;
 background-color: black;
 font-family: 'Futura', sans-serif;
 
}

.matacordionwidth:hover{
    background-color: rgb(45, 46, 46);
}

.fontstyle{
    color: white;
    font-family: 'Futura', sans-serif;
    width: 50%;
}

::ng-deep .mat-expansion-indicator::after {
    color:  #eeecec;
}

.contentpanel{
    width: 100%;
    display: flex;
}
.paneldiv{
    width: 50%;
}

.div-content-button{
    padding-right: 15px;
  }

.divbuttonborrar{
    background-color: white;
    color: black;
}

.divcontainer{
    background-color: black;
    margin: 0 70px;
}