<mat-accordion *ngFor="let bol of boleta">
    <mat-expansion-panel class="matacordionwidth" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="fontstyle">
          Titular:{{" "+bol.nombrePersona+" "}}{{bol.apellidoPersona}}
        </mat-panel-title>
        <mat-panel-description class="fontstyle">
          Fecha:{{" "+bol.fecha+" "}}Pedido: {{" "+bol.tipo}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="contentpanel">
          <div class="paneldiv">
            <p>Tipo de pizza:</p>
            <ul>
                <li>Tipo de masa: {{bol.masa}}</li>
                <li>Tipo de Proteina:{{bol.proteina}}</li>
                <li>Tipo de Salsa: {{bol.salsa}}</li>
                <li>Cocacola: x{{bol.cocacola}}</li>
                <li>Sprite: x{{bol.sprite}}</li>
            </ul>
          </div>
          <div class="paneldiv">
            <p>Ingredientes de la pizza:</p>
            <ul *ngFor="let ing of bol.agregados">
                <li>{{ing}}</li>
            </ul>
          </div>
      </div>
      <p>Cantidad del pedido: x{{bol.cantidad}}</p>
      <p>Direccion: {{bol.direccion}}</p>
      <p>Celular: {{bol.celular}}</p>
      <p>Nota: {{bol.nota}}</p>
      <h2>Monto: ${{bol.monto}}</h2>
      <br>
      <div class="div-content-button">
        <button mat-button class="divbuttonborrar" (click)="deleteBoleta(bol.id)">Eliminar boleta</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>