
.rightcontact {
    display: flex;
    align-items: flex-end;
	justify-content: center;
	text-align: center;
}

.leftcontact {
    display: flex;
    align-items: flex-end;
	justify-content: center;
	text-align: center;
}

.icon {
    padding-left: 10px;
    padding-right: 10px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }


a {
	text-decoration: none;
}

nav {
	background: #fff;
	height: 40px;
	box-shadow: #5b61af;
	display: flex;

}

nav a {
	flex: 1;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	transition: .2s ease-in-out all;
	font-weight: 500;
}

nav a:hover {
	background: #f0f0f0;
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
	overflow: hidden;
}

.contactbar {
    background-color: #3b3b73;
    height: 50px;
    text-align: center;
    display: flex;
    color: white;
    justify-content:space-between;
	
}

ul {
	list-style-type: none;
  }
  
  li {
	color: white;
	float: left;
	margin-right: 10px;
	padding: 0 4px;
	font-weight: 100;
	font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  }

  li:hover {
	text-decoration: underline;
  }

.contentli{
	  height: 100%;
	  background-color: #000;
}

